Source: libdbusmenu
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.12.0),
               libdbus-glib-1-dev,
               gnome-doc-utils,
               libtool,
               intltool,
               libxml2-dev,
               libjson-glib-dev
Standards-Version: 3.8.0
Homepage: https://launchpad.net/libdbusmenu
Vcs-Bzr: https://code.launchpad.net/~ubuntu-desktop/dbusmenu/ubuntu
Vcs-Browser: http://bazaar.launchpad.net/~ubuntu-desktop/dbusmenu/ubuntu

Package: libdbusmenu-glib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Breaks: indicator-messages (<< 0.3.0),
        indicator-session (<< 0.2.0)
Description: Menus over DBus shared library for glib
 This package contains shared libraries to be used by applications.

Package: libdbusmenu-glib-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdbusmenu-glib0 (= ${binary:Version}),
         libdbus-glib-1-dev (>= 0.76),
         libgtk2.0-dev (>= 2.12.0)
Description: Menus over DBus shared library
 This package contains files that are needed to build applications.
 .
 This package provides the development files.

Package: libdbusmenu-gtk0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Menus over DBus shared library for GTK
 This package contains shared libraries to be used by applications.

Package: libdbusmenu-gtk-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdbusmenu-gtk0 (= ${binary:Version}),
         libdbus-glib-1-dev (>= 0.76),
         libgtk2.0-dev (>= 2.12.0),
         libdbusmenu-glib-dev
Description: Menus over DBus shared library for GTK
 This package contains files that are needed to build applications.
 .
 This package provides the development files.

Package: libdbusmenu-tools
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdbusmenu-glib0 (= ${binary:Version})
Description: Tools useful during development with libdbusmenu
 .
 This package contains tools that are useful when building applications.

