#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/autoreconf.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_SRCDIR = .
DEB_BUILDDIR = $(DEB_SRCDIR)/build

DEB_CONFIGURE_EXTRA_FLAGS += --disable-scrollkeeper --enable-gtk-doc --enable-introspection
LDFLAGS += -Wl,-z,defs -Wl,--as-needed

configure/libdbusmenu-gtk4:: stamp-configure-gtk2
stamp-configure-gtk2:
	: # configure for GTK+ 2.0
	set -e; \
	rm -rf build-gtk2; \
	mkdir build-gtk2; \
	cd build-gtk2; \
	$(DEB_CONFIGURE_SCRIPT_ENV) ../configure --with-gtk=2 \
		$(filter-out --srcdir=%, $(DEB_CONFIGURE_NORMAL_ARGS) $(DEB_CONFIGURE_EXTRA_FLAGS)) \
		--enable-gtk-doc=no; \
	cd ..;
	touch stamp-configure-gtk2

build/libdbusmenu-gtk4:: stamp-build-gtk2
stamp-build-gtk2: stamp-configure-gtk2
	: # build for GTK+ 2.0
	$(MAKE) -C build-gtk2;
	touch stamp-build-gtk2

common-install-prehook-arch:: stamp-build-gtk2
	: # install for GTK+ 2.0
	$(MAKE) -C build-gtk2 DESTDIR=$(CURDIR)/debian/tmp install

binary-predeb/gir%::
	dh_girepository -p$(cdbs_curpkg)

clean::
	rm -f stamp-*-gtk2
	rm -rf build-gtk2
